<section id="about" class="content-section bg-light">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>Hey, This is Shyam Sunder!</h2>
                <p class="lead mb-5">
                    <span>
                        Computer Science student currently pursuing my Master's in Computer Applications at the<br>
                        National Institute of Technology, Jamshedpur. With a strong background in back-end<br>
                        development, actively expanding my skills in machine learning. Keen interest in exploring the<br>fascinating realms of cyber security and networking.
                    </span>
                    <a href="https://github.com/Flanker-shyam/" target="_blank">&nbsp;Work</a>
                    <span>!</span>
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">What I Offer</a>
            </div>
        </div>
    </div>
</section>