<div id="certificates">
    <div style="margin-top: 126px;margin-bottom: 21px; text-align: center;">
        <h1 style="margin-top:-90px">Certifications</h1>
    </div>
    <div style="margin-left:10px;">
        <div class="card-group" style="margin-bottom: 0px;">
            <div class="card" style="border:none;">
                <img class="card-img-top w-100 d-block" src="/img/networking-basics.png" width="396" height="396">
                <div class="card-body">
                    <h4 class="card-title">Networking Basics &nbsp;</h4>
                    <p class="card-text">
                        <strong>Cisco | Feb 2023</strong>
                    </p>
                    <p>
                        
                            <span>Application Layer | Services</span>
                        
                        
                            <span>IPv4 &nbsp;| Addresses</span>
                        
                        
                            <span>Network |&nbsp;Media</span>
                        
                      
                            <span>NetWork Types</span>
                        
                        <span>&nbsp;|&nbsp;</span>
                        
                            <span>Protocols Standards</span>
                        
                        <span>&nbsp;|&nbsp;</span>
                     
                            <span>Wireless Access</span>
                      
                    </p>
                   <a href="https://www.credly.com/earner/earned/badge/bef60a6b-9fc5-42a4-8db1-7598c3d8a353"><button class="btn btn-primary" type="button">verify</button></a>
                </div>
            </div>
            <div class="card" style="border:none;">
                <img class="card-img-top w-100 d-block" width="396" height="396" src="/img/introduction-to-cybersecurity.png" style="margin-left: 4px;">
                <div class="card-body">
                    <h4 class="card-title">Introduction to Cybersecurity</h4>
                    <p class="card-text">
                        <strong>Cisco | Feb 2023</strong>
                    </p>
                    <p style="color: rgb(0,0,0);">
                      
                            <span>Cyber Best Practices</span>
                        
                        &nbsp;|&nbsp;
                       
                            <span>Cybersecurity</span>
                      
                        
                            <span>Network Vulnerabilities</span>
                      
                        &nbsp;|&nbsp;
                     
                            <span>Privacy And Data Confidentiality</span>
                       
                        &nbsp;|&nbsp;
                      
                            <span>Threat Detection</span>
                      
                    </p>
                    <p></p>
                    <a href="https://www.credly.com/earner/earned/badge/b1dc1e81-8928-4b89-a3ba-b99436e62a74" ><button class="btn btn-primary" type="button">verify</button></a>
                </div>
            </div>
            <div class="card" style="border:none;" >
                <img class="card-img-top w-100 d-block" width="396" height="396" src="/img/networking-essentials.png">
                <div class="card-body">
                    <h4 class="card-title">Networking Essentials</h4>
                    <p class="card-text">
                        <strong>Cisco | Jan 2023</strong>
                    </p>
                    <p style="color: black;">
                  
                            <span>Basic Network Security</span>
                    
                        &nbsp;|&nbsp;
                    
                            <span>DHCP</span>
                     
                        &nbsp;|&nbsp;
                      
                            <span>Ethernet Networks</span>
                  
                        &nbsp;|&nbsp;
               
                            <span>Integrated Wireless Router</span>
                 
                        &nbsp;|&nbsp;
                   
                            <span>IPv4 And IPv6 Fundamentals</span>
                    
                        &nbsp;|&nbsp;
            
                            <span>Networking Concepts</span>
                 
                        &nbsp;|&nbsp;
             
                            <span>SOHO Networks</span>
               
                        &nbsp;|&nbsp;
            
                            <span>Standards And Protocols</span>
             
                        &nbsp;|&nbsp;
          
                            <span>Wireless PC</span>
           
                    </p>
                    <a href="https://www.credly.com/earner/earned/badge/d98d84b6-0262-497e-85f1-a9fb4852c8a5"><button class="btn btn-primary" type="button">verify</button></a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card-group" style="margin-left:10px;">
            <div class="card" style="border:none;">
                <img class="card-img-top w-100 d-block" width="396" height="396" src="/img/udemyC++.png">
                <div class="card-body">
                    <h4 class="card-title">Learn C++ Programming- Beginner to advance - Deep dive in c++</h4>
                    <p class="card-text">
                        <strong>Udemy | Sept 2022</strong>
                    </p>
                    <p>
                        <span style="color: rgb(28, 29, 31);">Features of C++ 11 |&nbsp;Exception Handling | STL | OOPS</span>
                    </p>
                    <a href="https://www.udemy.com/certificate/UC-31000b93-682f-4888-a41b-2f8d6eec1949/"><button class="btn btn-primary" type="button">verify</button></a> 
                </div>
            </div>
            <div class="card" style="border:none;"></div>
            <div class="card" style="border:none;"></div>
        </div>
    </div>
</div>