<footer class="footer text-center" style="background-color: black; height:240px" id="contact">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                &nbsp;
                <a class="link-light social-link rounded-circle" target="_blank" href="https://twitter.com/Flanker1916">
                    <i class="icon-social-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                &nbsp;
                <a class="link-light social-link rounded-circle" target="_blank" href="https://in.linkedin.com/in/shyam-sunder19">
                    <i class="icon-social-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item">
                &nbsp;
                <a class="link-light social-link rounded-circle" target="_blank" href="https://github.com/Flanker-shyam/">
                    <i class="icon-social-github"></i>
                </a>
            </li>
            <li class="list-inline-item">
                &nbsp;
                <a class="link-light social-link rounded-circle" target="_blank" href="https://www.instagram.com/shyam_prajapati19/">
                    <i class="icon-social-instagram"></i>
                </a>
            </li>
        </ul>
        <p class="text-muted mb-0 small">Copyright &nbsp;© Shyam Sunder 2023</p>
    </div>
    <a class="js-scroll-trigger scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</footer>