<header class="d-flex masthead" style="background: var(--bs-black);height: 825px;">
    <div class="container my-auto text-center">
        <h1 class="mb-1" style="--bs-body-color: var(--bs-white);color: var(--bs-white);">Shyam Sunder</h1>
        <h3 class="mb-5">
            <em style="color: var(--bs-white);">A creative communicative developer</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about">Find Out More</a>
        <div class="overlay"></div>
    </div>
</header>