<a class="menu-toggle rounded" href="#" style="margin: 14px;">
    <i class="material-icons" style="font-size: 26px;height: 29px;margin: 12px;">menu</i>
</a>
<nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
    <div class="container">
        <button data-bs-toggle="collapse" class="navbar-toggler d-none" data-bs-target="#"></button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
                <li class="nav-item sidebar-brand">
                    <a class="nav-link active nav-link active js-scroll-trigger" href="#page-top">Shyam Sunder</a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a class="nav-link nav-link nav-link js-scroll-trigger" href="http://sunderreviews.blogspot.com/" target="_blank">Blogs</a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>