<section style="margin-top:50px;">
<div id="head-proj" style="text-align: center;">
    <h1 class="mb-5">Recent Projects</h1>
</div>
<div id="projects">
    <% for(let i=0;i<data.length;i++){ %>
    <div class="project-card">
        <h2><%=data[i].name %></h2>
        <p><%=data[i].description %></p>
        <% for(topics of data[i].topics){ %>
            | <span class="lang">
              <%=topics%>&nbsp; |
            </span>
            <%}%><br><br>
        <a class="portfolio-item" target="_blank" href=<%=data[i].html_url %>> <button class="btn btn-primary btn-sm btn-git" type="button" style="width:100px;">visit</button></a>
    </div>
    <% } %>
</div>
</section>