<section class="content-section text-white" style="background: var(--bs-black);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center; margin-bottom: 40px;">
                    <h1>Technical Skills</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div></div>
                <h3>Programmer</h3>
                <p>Worked on c++ , python, javascript, bash,&nbsp;java</p>
                <p>I do competitive programming &nbsp;and Data structures in c++</p>
            </div>
            <div class="col-md-3">
                <div></div>
                <h3>Developer</h3>
                <p>Developed websites that express and impress</p>
                <p>Good in backend development, I work with Nodejs, express and mongoDB &nbsp;</p>
            </div>
            <div class="col-md-3">
                <div></div>
                <h3>Computer Networking</h3>
                <p>Computer Networking is exciting.</p>
                <p>I know how computer networks work, I do socket programming.</p>
            </div>
            <div class="col-md-3">
                <div></div>
                <h3>Machine Learning and AI</h3>
                <p>Machine learning is no magic.</p>
                <p>I conducted workshops on machine learning and I have created a feature selection toolbox.</p>
            </div>
        </div>
    </div>
</section>