<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Shyam-Sunder</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
        <link rel="stylesheet" href="/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/fonts/material-icons.min.css">
        <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
        <link rel="stylesheet" href="/css/about-1.css">
    </head>
    <body id="page-top">
        <a class="menu-toggle rounded" href="#" style="margin: 14px;">
            <i class="material-icons" style="font-size: 26px;height: 29px;margin: 12px;">menu</i>
        </a>
        <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
            <div class="container">
                <button data-bs-toggle="collapse" class="navbar-toggler d-none" data-bs-target="#"></button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
                        <li class="nav-item sidebar-brand">
                            <a class="nav-link active nav-link active js-scroll-trigger" href="#page-top">Shyam Sunder</a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a class="nav-link nav-link nav-link js-scroll-trigger" href="http://sunderreviews.blogspot.com/" target="_blank">Blogs</a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="d-flex masthead" style="background: var(--bs-black);height: 825px;">
            <div class="container my-auto text-center">
                <h1 class="mb-1" style="--bs-body-color: var(--bs-white);color: var(--bs-white);">Shyam Sunder</h1>
                <h3 class="mb-5">
                    <em style="color: var(--bs-white);">A creative communicative developer</em>
                </h3>
                <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about">Find Out More</a>
                <div class="overlay"></div>
            </div>
        </header>
        <section id="about" class="content-section bg-light">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h2>Hey, This is Shyam Sunder!</h2>
                        <p class="lead mb-5">
                            <span>
                                Computer Science student currently pursuing my Master's in Computer Applications at the<br>
                                National Institute of Technology, Jamshedpur. With a strong background in back-end<br>
                                development, actively expanding my skills in machine learning. Keen interest in exploring the<br>fascinating realms of cyber security and networking.
                            </span>
                            <a href="https://unsplash.com/">&nbsp;Work</a>
                            <span>!</span>
                        </p>
                        <a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="#services">What We Offer</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-section text-white" style="background: var(--bs-black);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align: center; margin-bottom: 40px;">
                            <h1>Technical Skills</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div></div>
                        <h3>Programmer</h3>
                        <p>Worked on c++ , python, javascript, bash,&nbsp;java</p>
                        <p>I do competitive programming &nbsp;and Data structures in c++</p>
                    </div>
                    <div class="col-md-3">
                        <div></div>
                        <h3>Developer</h3>
                        <p>Developed websites that express and impress</p>
                        <p>Good in backend development, I work with Nodejs, express and mongoDB &nbsp;</p>
                    </div>
                    <div class="col-md-3">
                        <div></div>
                        <h3>Computer Networking</h3>
                        <p>Computer Networking is exciting.</p>
                        <p>I know how computer networks work, I do socket programming.</p>
                    </div>
                    <div class="col-md-3">
                        <div></div>
                        <h3>Machine Learning and AI</h3>
                        <p>Machine learning is no magic.</p>
                        <p>I conducted workshops on machine learning and I have created a feature selection toolbox.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg-light border rounded border-0 border-light d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
            <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold mb-2" style="font-size:50px;">Check My Resume</h2>
            </div>
            <div class="my-2">
               <form method="GET" action="/download/Shyam sunder_resume_1.pdf (1).pdf" target="_blank">
                  <button type="submit" class="btn btn-dark btn-lg"><i class="fa fa-download" style="margin-right:5px;"></i>Download</button>
               </form>
                <!-- <a class="btn btn-primary fs-5 py-2 px-4" role="button" href="#"><i class="fa fa-download" style="margin-right:5px;"></i>Download</a> -->
            </div>
        </div>
        <section id="services" class="content-section text-white text-center" style="background: var(--bs-black);">
            <div class="container">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0"></h3>
                    <h2 class="mb-5">What We Offer</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <span class="mx-auto service-icon rounded-circle mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                <path d="M5 12H19M5 12C3.89543 12 3 11.1046 3 10V6C3 4.89543 3.89543 4 5 4H19C20.1046 4 21 4.89543 21 6V10C21 11.1046 20.1046 12 19 12M5 12C3.89543 12 3 12.8954 3 14V18C3 19.1046 3.89543 20 5 20H19C20.1046 20 21 19.1046 21 18V14C21 12.8954 20.1046 12 19 12M17 8H17.01M17 16H17.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <h4>
                            <strong>Backend</strong>
                            &nbsp;and API
                        </h4>
                        <p class="mb-0 text-faded">API's that can be integrated in projects</p>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <span class="mx-auto service-icon rounded-circle mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-laptop">
                                <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"></path>
                            </svg>
                        </span>
                        <h4>
                            <strong>Responsive</strong>
                        </h4>
                        <p class="mb-0 text-faded">Looks great on any screen size!</p>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <span class="mx-auto service-icon rounded-circle mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-hdd-network">
                                <path d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"></path>
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8.5v3a1.5 1.5 0 0 1 1.5 1.5h5.5a.5.5 0 0 1 0 1H10A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5H.5a.5.5 0 0 1 0-1H6A1.5 1.5 0 0 1 7.5 10V7H2a2 2 0 0 1-2-2V4zm1 0v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1zm6 7.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5z"></path>
                            </svg>
                        </span>
                        <h4>
                            <strong>Security</strong>
                        </h4>
                        <p class="mb-0 text-faded">
                            <strong>Secure API are what needed for user's protection!</strong>
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <span class="mx-auto service-icon rounded-circle mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M184 0C214.9 0 240 25.07 240 56V456C240 486.9 214.9 512 184 512C155.1 512 131.3 490.1 128.3 461.9C123.1 463.3 117.6 464 112 464C76.65 464 48 435.3 48 400C48 392.6 49.27 385.4 51.59 378.8C21.43 367.4 0 338.2 0 304C0 272.1 18.71 244.5 45.77 231.7C37.15 220.8 32 206.1 32 192C32 161.3 53.59 135.7 82.41 129.4C80.84 123.9 80 118 80 112C80 82.06 100.6 56.92 128.3 49.93C131.3 21.86 155.1 0 184 0zM383.7 49.93C411.4 56.92 432 82.06 432 112C432 118 431.2 123.9 429.6 129.4C458.4 135.7 480 161.3 480 192C480 206.1 474.9 220.8 466.2 231.7C493.3 244.5 512 272.1 512 304C512 338.2 490.6 367.4 460.4 378.8C462.7 385.4 464 392.6 464 400C464 435.3 435.3 464 400 464C394.4 464 388.9 463.3 383.7 461.9C380.7 490.1 356.9 512 328 512C297.1 512 272 486.9 272 456V56C272 25.07 297.1 0 328 0C356.9 0 380.7 21.86 383.7 49.93z"></path>
                            </svg>
                        </span>
                        <h4>
                            <strong>Machine Learning</strong>
                        </h4>
                        <p class="mb-0 text-faded">Apply machine learning in your next project and make it smart!</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="portfolio" class="content-section">
           <div style="display:flex; justify-content: center; align-items: center;text-align: center;"> <p style="font-size: 22px;"><strong>Portfolio</strong></p></div>
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0" style="color: var(--bs-black);"></h3>
                    <h2 class="mb-5">Recent Projects</h2>
                </div>
                <div class="row g-0">
                    <% for(let i = 0; i<data.length;i++){ %>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href=<%=data[i].html_url %> style="border-color: var(--bs-white);margin: 10px;">
                            <div class="caption" style="background: var(--bs-black);border-color: var(--bs-black);">
                                <div class="caption-content">
                                    <h2><%= data[i].name %></h2>
                                    <p class="mb-0">
                                        <%= data[i].description%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                                        <% for(topics of data[i].topics){ %>
                                          <span class="lang">
                                            <%=topics%>&nbsp;
                                          </span>
                                          <%}%><br><br>
                                         <button class="btn btn-primary" type="button" style="width: 182px;height: 38px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg>
                                            &nbsp; Visit &nbsp;&nbsp;
                                        </button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </p>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/portfolio-1.jpg">
                        </a>
                    </div>
                    <% } %>
                    <!-- <div class="col-lg-6">
                        <a class="portfolio-item" href="#" style="color: var(--bs-white);border-style: none;margin: 10px;">
                            <div class="caption" style="background: var(--bs-black);">
                                <div class="caption-content">
                                    <h2>Ice Cream</h2>
                                    <p class="mb-0">
                                        A yellow pencil with envelopes on a clean, blue backdrop!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-primary" type="button" style="width: 182.8125px;height: 38px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg>
                                            &nbsp;Visit
                                        </button>
                                    </p>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/portfolio-2.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#" style="background: var(--bs-white);margin: 10px;">
                            <div class="caption" style="background: var(--bs-black);">
                                <div class="caption-content">
                                    <h2>Strawberries</h2>
                                    <p class="mb-0">
                                        A yellow pencil with envelopes on a clean, blue backdrop!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-primary" type="button" style="width: 182px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg>
                                            &nbsp;Visit
                                        </button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </p>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/portfolio-3.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#" style="border-color: var(--bs-black);margin: 10px;">
                            <div class="caption" style="background: var(--bs-black);">
                                <div class="caption-content">
                                    <h2>Workspace</h2>
                                    <p class="mb-0">
                                        A yellow pencil with envelopes on a clean, blue backdrop!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-primary" type="button" style="width: 182px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                            </svg>
                                            &nbsp;Visit
                                        </button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </p>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/portfolio-4.jpg">
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="container py-4 py-xl-5" style="height: 160px; color:rgb(0, 0, 0); width: 86%; margin-bottom: -50px;">
                <div class="row gy-4 row-cols-2 row-cols-md-4">
                    <div class="col">
                        <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-check">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                </svg>
                            </div>
                            <div class="px-3">
                                <h2 class="fw-bold mb-0">302+</h2>
                                <p class="mb-0">Total contributions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -64 640 640" width="1em" height="1em" fill="currentColor">
                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M476.8 288C461.1 361 397.4 416 320 416C242.6 416 178 361 163.2 288H32C14.33 288 0 273.7 0 256C0 238.3 14.33 224 32 224H163.2C178 150.1 242.6 96 320 96C397.4 96 461.1 150.1 476.8 224H608C625.7 224 640 238.3 640 256C640 273.7 625.7 288 608 288H476.8zM320 336C364.2 336 400 300.2 400 256C400 211.8 364.2 176 320 176C275.8 176 240 211.8 240 256C240 300.2 275.8 336 320 336z"></path>
                                </svg>
                            </div>
                            <div class="px-3">
                                <h2 class="fw-bold mb-0">198+</h2>
                                <p class="mb-0">Total commits</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                                </svg>
                            </div>
                            <div class="px-3">
                                <h2 class="fw-bold mb-0">18+</h2>
                                <p class="mb-0">Start earned</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-send-check">
                                    <path fill-rule="evenodd" d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733ZM16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 1 .172.686l-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 0 1 .686-.172Z"></path>
                                </svg>
                            </div>
                            <div class="px-3">
                                <h2 class="fw-bold mb-0">18+</h2>
                                <p class="mb-0">Total PRs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="certificates">
        <div style="margin-top: 126px;margin-bottom: 21px; text-align: center;">
            <h1 style="margin-top:-90px">Certifications</h1>
        </div>
        <div style="margin-left:10px;">
            <div class="card-group" style="margin-bottom: 0px;">
                <div class="card" style="border:none;">
                    <img class="card-img-top w-100 d-block" src="/img/networking-basics.png" width="396" height="396">
                    <div class="card-body">
                        <h4 class="card-title">Networking Basics &nbsp;</h4>
                        <p class="card-text">
                            <strong>Cisco | Feb 2023</strong>
                        </p>
                        <p>
                            
                                <span>Application Layer | Services</span>
                            
                            
                                <span>IPv4 &nbsp;| Addresses</span>
                            
                            
                                <span>Network |&nbsp;Media</span>
                            
                          
                                <span>NetWork Types</span>
                            
                            <span>&nbsp;|&nbsp;</span>
                            
                                <span>Protocols Standards</span>
                            
                            <span>&nbsp;|&nbsp;</span>
                         
                                <span>Wireless Access</span>
                          
                        </p>
                       <a href="https://www.credly.com/earner/earned/badge/bef60a6b-9fc5-42a4-8db1-7598c3d8a353"><button class="btn btn-primary" type="button">verify</button></a>
                    </div>
                </div>
                <div class="card" style="border:none;">
                    <img class="card-img-top w-100 d-block" width="396" height="396" src="/img/introduction-to-cybersecurity.png" style="margin-left: 4px;">
                    <div class="card-body">
                        <h4 class="card-title">Introduction to Cybersecurity</h4>
                        <p class="card-text">
                            <strong>Cisco | Feb 2023</strong>
                        </p>
                        <p style="color: rgb(0,0,0);">
                          
                                <span>Cyber Best Practices</span>
                            
                            &nbsp;|&nbsp;
                           
                                <span>Cybersecurity</span>
                          
                            
                                <span>Network Vulnerabilities</span>
                          
                            &nbsp;|&nbsp;
                         
                                <span>Privacy And Data Confidentiality</span>
                           
                            &nbsp;|&nbsp;
                          
                                <span>Threat Detection</span>
                          
                        </p>
                        <p></p>
                        <a href="https://www.credly.com/earner/earned/badge/b1dc1e81-8928-4b89-a3ba-b99436e62a74" ><button class="btn btn-primary" type="button">verify</button></a>
                    </div>
                </div>
                <div class="card" style="border:none;" >
                    <img class="card-img-top w-100 d-block" width="396" height="396" src="/img/networking-essentials.png">
                    <div class="card-body">
                        <h4 class="card-title">Networking Essentials</h4>
                        <p class="card-text">
                            <strong>Cisco | Jan 2023</strong>
                        </p>
                        <p style="color: black;">
                      
                                <span>Basic Network Security</span>
                        
                            &nbsp;|&nbsp;
                        
                                <span>DHCP</span>
                         
                            &nbsp;|&nbsp;
                          
                                <span>Ethernet Networks</span>
                      
                            &nbsp;|&nbsp;
                   
                                <span>Integrated Wireless Router</span>
                     
                            &nbsp;|&nbsp;
                       
                                <span>IPv4 And IPv6 Fundamentals</span>
                        
                            &nbsp;|&nbsp;
                
                                <span>Networking Concepts</span>
                     
                            &nbsp;|&nbsp;
                 
                                <span>SOHO Networks</span>
                   
                            &nbsp;|&nbsp;
                
                                <span>Standards And Protocols</span>
                 
                            &nbsp;|&nbsp;
              
                                <span>Wireless PC</span>
               
                        </p>
                        <a href="https://www.credly.com/earner/earned/badge/d98d84b6-0262-497e-85f1-a9fb4852c8a5"><button class="btn btn-primary" type="button">verify</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card-group" style="margin-left:10px;">
                <div class="card" style="border:none;">
                    <img class="card-img-top w-100 d-block" width="396" height="396" src="/img/udemyC++.png">
                    <div class="card-body">
                        <h4 class="card-title">Learn C++ Programming- Beginner to advance - Deep dive in c++</h4>
                        <p class="card-text">
                            <strong>Udemy | Sept 2022</strong>
                        </p>
                        <p>
                            <span style="color: rgb(28, 29, 31);">Features of C++ 11 |&nbsp;Exception Handling | STL | OOPS</span>
                        </p>
                        <a href="https://www.udemy.com/certificate/UC-31000b93-682f-4888-a41b-2f8d6eec1949/"><button class="btn btn-primary" type="button">verify</button></a> 
                    </div>
                </div>
                <div class="card" style="border:none;"></div>
                <div class="card" style="border:none;"></div>
            </div>
        </div>
    </div>
        <!-- <section id="contact" class="map">
            <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe>
        </section> -->
        <footer class="footer text-center" style="background-color: black; height:240px" id="contact">
            <div class="container">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        &nbsp;
                        <a class="link-light social-link rounded-circle" href="https://twitter.com/Flanker1916">
                            <i class="icon-social-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        &nbsp;
                        <a class="link-light social-link rounded-circle" href="https://in.linkedin.com/in/shyam-sunder19">
                            <i class="icon-social-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        &nbsp;
                        <a class="link-light social-link rounded-circle" href="https://github.com/Flanker-shyam/">
                            <i class="icon-social-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        &nbsp;
                        <a class="link-light social-link rounded-circle" href="https://www.instagram.com/shyam_prajapati19/">
                            <i class="icon-social-instagram"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-muted mb-0 small">Copyright &nbsp;© Shyam Sunder 2023</p>
            </div>
            <a class="js-scroll-trigger scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </footer>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stylish-portfolio.js"></script>
        <!-- <script id="bs-live-reload" data-sseport="36989" data-lastchange="1682785026720" src="js/livereload.js"></script> -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script> -->
    </body>
</html>
